h1 {
  color: blueviolet;
}

.container {
  background-color: aliceblue;
}

.display-4 {
  font-family: 'Shadows Into Light', cursive;
  color: blueviolet;
}

.jumbotron {
  background-color: #61aca9;
}

.content-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 12px;
}

/* .container-fluid {
  background-color: #95b3b2 */
}


/* #jam {
  float: left;
  align-content: center;
  padding: 20px;
  margin: 20px;
}

#jam {
  float: right;
  align-content: center;
  padding: 20px;
  margin: 20px;
}

.col-4 {
  padding: 10px;
  margin: 10px;
}

.col-8 {
  padding: 10px;
  margin: 10px; */
/* } */
#math {
  color: palevioletred;
}